@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


:root{
    --color-bg: rgb(255, 255, 255);
    --color-primary: rgba(140, 0, 255, 0.993);
    --color-primary-soft: rgba(140, 0, 255, 0.2);
    --color-gradient-primary-transp-down: linear-gradient(180deg, rgba(140,0,255,1) 0%, rgba(244,222,255,1) 73%, rgba(255,255,255,1) 85%);
    --color-gradient-psoft-transp-up: linear-gradient(180deg, transparent 10%, rgba(140, 0, 255, 0.1) 40%, rgba(140, 0, 255, 0.2));
    --color-black: black;

    --transition: all 500ms ease;
    --transition_2: all 300ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.color-black{
    color: black;
}

body{
    background: var(--color-bg);
    font-family: "Poppins", sans-serif;
    color: var(--color-black)
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover{
    background: white;
    border-color:transparent;
    color: var(--color-primary);
}

.btn-colored{
    background:var(--color-primary);
    color: white;
}

.container{
    width:var(--container-width-lg);
    margin: 0 auto;
}

h1,h2,h3,h4,h5{
    font-weight: 500;
}
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.2rem;
}

a{
    transition: var(--transition_2);
}

a:hover{
    color: white;
}

img{
    display:block;
    width: 100%;
    object-fit: cover;
}

@media screen and(max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }

    section{
        margin-top:6rem;
    }
}

@small screen and(max-width: 600px){
    .container{
        width: var(--container-width-ms);
    }

    section{
        margin-top:2rem;
    }
}

